.MuiTableCell-root.schedule-cell {
    padding: 0.8em 0;
    font-size: 1em;
}

.MuiTableCell-root.schedule-cell:nth-child(2) {
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-wrap: nowrap;
    white-space: nowrap;
}

.MuiTableCell-root.schedule-cell:nth-child(3) {
    text-wrap: nowrap;
    white-space: nowrap;
}

.rotate {
    animation-name: rotate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}